compiler.tab.*
compiler
lex.yy.c
flex
*.o
.idea
/compiler.output
/memins/testmemins
/symtab/testsymtab
*.asm
/interpreter/interpreter.output
/interpreter/interpreter.tab.c
/interpreter/interpreter.tab.h
/interpreter/interpreter
